# 2018 월드컵 조예선 및 우승 국가 예측하기

## 목차

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns

In [69]:
worldcup = pd.read_csv('World Cup 2018 Dataset.csv')

In [102]:
df_data = pd.DataFrame(worldcup)

In [103]:
df_data

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,history with first opponent goals,Second match against,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals
0,Russia,A,10,0,0,1,65,Saudi Arabia,1,-1.0,-2.0,Egypt,17,NaN,NaN,Uruguay,33,0.0,0.0
1,Saudi Arabia,A,4,0,0,0,63,Russia,1,1.0,2.0,Uruguay,18,1.0,1.0,Egypt,34,-5.0,-5.0
2,Egypt,A,2,0,0,0,31,Uruguay,2,-1.0,-2.0,Russia,17,NaN,NaN,Saudi Arabia,34,5.0,5.0
3,Uruguay,A,12,2,2,5,21,Egypt,2,1.0,2.0,Saudi Arabia,18,-1.0,-1.0,Russia,33,0.0,0.0
4,Portugal,B,6,0,0,2,3,Spain,3,-12.0,-31.0,Morocco,19,-1.0,-2.0,Iran,35,2.0,5.0
5,Spain,B,14,1,1,2,6,Portugal,3,12.0,31.0,Iran,20,NaN,NaN,Morocco,36,5.0,7.0
6,Morocco,B,4,0,0,0,40,Iran,4,-2.0,-2.0,Portugal,19,1.0,2.0,Spain,36,-5.0,-7.0
7,Iran,B,4,0,0,0,32,Morocco,4,2.0,2.0,Spain,20,NaN,NaN,Portugal,35,-2.0,-5.0
8,France,C,14,1,2,5,9,Australia,5,1.0,6.0,Peru,21,-1.0,-1.0,Denmark,37,4.0,9.0
9,Australia,C,4,0,0,0,39,France,5,-1.0,-6.0,Denmark,22,-1.0,-3.0,Peru,38,NaN,NaN
10,Peru,C,4,0,0,0,11,Denmark,6,NaN,NaN,France,21,1.0,1.0,Australia,38,NaN,NaN
11,Denmark,C,4,0,0,0,12,Peru,6,NaN,NaN,Australia,22,1.0,3.0,France,37,-4.0,-9.0
12,Argentina,D,16,2,5,5,4,Iceland,7,NaN,NaN,Croatia,23,1.0,0.0,Nigeria,39,3.0,1.0
13,Iceland,D,0,0,0,0,22,Argentina,7,NaN,NaN,Nigeria,24,1.0,3.0,Croatia,40,-3.0,-9.0
14,Croatia,D,4,0,0,1,17,Nigeria,8,NaN,NaN,Argentina,23,-1.0,0.0,Iceland,40,3.0,9.0
15,Nigeria,D,5,0,0,0,50,Croatia,8,NaN,NaN,Iceland,24,-1.0,-3.0,Argentina,39,-3.0,-1.0
16,Brazil,E,20,5,7,11,2,Switzerland,9,1.0,2.0,Costarica,25,8.0,19.0,Serbia,41,1.0,1.0
17,Switzerland,E,10,0,0,0,8,Brazil,9,-1.0,-2.0,Serbia,26,NaN,NaN,Costarica,42,0.0,1.0
18,Costarica,E,4,0,0,0,26,Serbia,10,NaN,NaN,Brazil,25,-8.0,-19.0,Switzerland,42,0.0,-1.0
19,Serbia,E,11,0,0,2,37,Costarica,10,NaN,NaN,Switzerland,26,NaN,NaN,Brazil,41,-1.0,-1.0
20,Germany,F,18,4,8,13,1,Mexico,11,4.0,13.0,Sweden,27,2.0,10.0,Korea,43,1.0,0.0
21,Mexico,F,15,0,0,0,16,Germany,11,-4.0,-13.0,Korea,28,1.0,12.0,Sweden,44,-2.0,-3.0
22,Sweden,F,11,0,1,4,18,Korea,12,1.0,2.0,Germany,27,-2.0,-10.0,Mexico,44,2.0,3.0
23,Korea,F,9,0,0,1,59,Sweden,12,-1.0,-2.0,Mexico,28,-1.0,-10.0,Germany,43,-1.0,0.0
24,Belgium,G,12,0,0,1,5,Panama,13,NaN,NaN,Tunisia,29,0.0,0.0,England,45,-17.0,-70.0
25,Panama,G,0,0,0,0,56,Belgium,13,NaN,NaN,England,30,NaN,NaN,Tunisia,46,NaN,NaN
26,Tunisia,G,4,0,0,0,27,England,14,-1.0,-2.0,Belgium,29,0.0,0.0,Panama,46,NaN,NaN
27,England,G,14,1,1,2,15,Tunisia,14,1.0,2.0,Panama,30,NaN,NaN,Belgium,45,17.0,70.0
28,Poland,H,7,0,0,2,7,Senegal,15,NaN,NaN,Columbia,31,NaN,NaN,Japan,47,2.0,3.0
29,Senegal,H,1,0,0,0,23,Poland,15,NaN,NaN,Japan,32,2.0,3.0,Columbia,48,0.0,0.0
30,Columbia,H,5,0,0,0,13,Japan,16,2.0,2.0,Poland,31,NaN,NaN,Senegal,48,0.0,0.0
31,Japan,H,5,0,0,0,55,Columbia,16,-2.0,-2.0,Senegal,32,-2.0,-3.0,Poland,47,-2.0,-3.0

## 데이터 리스트 목록 
- Previous appearances : 월드컵 출전 횟 수
- Previous titles : 월드컵 우승 횟 수
- Previous finals : 결승 진출 횟 수 
- Previous semifinals : 준 결승 진출 횟 수
- Current FIFA rank : 최신 피파 랭킹 
- Match index : 경기를 구분하는 index
- history with first opponent W-L : 상대 전적(+숫자), 값이 커질 수록 상대 전적에서 앞서 나간 정도 
- history with first opponent goals : 상대 전적 득실차(+숫자), 상대와의 경기 득실차

## 추가할 데이터

- 월드컵 조추첨 포트

In [8]:
from IPython.display import Image
Image(url= "http://kspn.co.kr/wp-content/uploads/2017/11/%EB%9F%AC%EC%8B%9C%EC%95%84.png")

- 월드컵 출장 국가별 선수들 시장 가치 총액 , 평균 나이, 월드컵 출전 수

In [14]:
from IPython.display import Image
Image(url= "https://mblogthumb-phinf.pstatic.net/MjAxODA2MTZfMTA1/MDAxNTI5MTE3OTMzODI5.VMuZwC06hkXCLNk-BgkFPhwyB_vzjXCuZbllqr3Rw5Ug.09aBClr4fWbs2ldyHhs4HpKAO9pDu7mv6fmgzVFdDWMg.PNG.3832nirvana/%EA%B0%80%EC%B9%981.PNG?type=w800")

In [13]:
from IPython.display import Image
Image(url= "https://mblogthumb-phinf.pstatic.net/MjAxODA2MTZfMTE1/MDAxNTI5MTE3OTMzODg0.w2zrZQLeOcX-ei-IGO-Ofj-X-Z1NU3yK00b_7yuticog.ammKJuEcgDCkwMl6mK-rg-7Y3jj7XrbzQizRctb5ZRgg.PNG.3832nirvana/%EA%B0%80%EC%B9%982.PNG?type=w800")

In [55]:
team_data = [
    {'Team':'Russia', 'Pot': 1,'Avg_age': 28.9 ,  'Market value':145.64 },
    {'Team':'Germany', 'Pot': 1,'Avg_age': 27.2 ,  'Market value':794.70 },
    {'Team':'Brazil', 'Pot': 1,'Avg_age': 28.6 ,  'Market value':882.90 },
    {'Team':'Portugal', 'Pot': 1,'Avg_age': 28.4 ,  'Market value':445.05 },
    {'Team':'Argentina', 'Pot': 1,'Avg_age': 29.6 ,  'Market value':629.10},
    {'Team':'Belgium', 'Pot': 1,'Avg_age': 27.6 ,  'Market value':678.60 },
    {'Team':'Poland', 'Pot': 1,'Avg_age': 28.3 ,  'Market value':247.10 },
    {'Team':'France', 'Pot': 1,'Avg_age': 26.1 ,  'Market value':972.45 },
    {'Team':'Spain', 'Pot': 2,'Avg_age': 28.5 ,  'Market value':930.60 },
    {'Team':'Peru', 'Pot': 2,'Avg_age': 27.5 ,  'Market value':34.67 },
    {'Team':'Switzerland', 'Pot': 2,'Avg_age': 27.2 , 'Market value':196.29 },
    {'Team':'England', 'Pot': 2,'Avg_age': 26.1 ,  'Market value':786.60 },
    {'Team':'Columbia', 'Pot': 2,'Avg_age': 28.4 , 'Market value':225.99 },
    {'Team':'Mexico', 'Pot': 2,'Avg_age': 29.3 ,  'Market value':139.14 },
    {'Team':'Uruguay', 'Pot': 2,'Avg_age': 28.2 ,  'Market value':335.70 },
    {'Team':'Croatia', 'Pot': 2,'Avg_age': 27.9 ,  'Market value':327.60 },
    {'Team':'Denmark', 'Pot': 3,'Avg_age': 27.2 ,  'Market value':233.37 },
    {'Team':'Iceland', 'Pot': 3,'Avg_age': 28.6 ,  'Market value':68.45 },
    {'Team':'Costarica', 'Pot': 3,'Avg_age': 29.8 ,  'Market value':36.14 },
    {'Team':'Sweden', 'Pot': 3,'Avg_age': 28.3 ,  'Market value':107.78 },
    {'Team':'Tunisia', 'Pot': 3,'Avg_age': 26.6 , 'Market value':52.99 },
    {'Team':'Egypt', 'Pot': 3,'Avg_age': 29.0 ,  'Market value':177.50 },
    {'Team':'Senegal', 'Pot': 3,'Avg_age': 27.2 ,  'Market value':267.57 },
    {'Team':'Iran', 'Pot': 3,'Avg_age': 27.2 ,  'Market value':43.47 },
    {'Team':'Serbia', 'Pot': 4,'Avg_age': 26.8 ,  'Market value':246.11 },
    {'Team':'Nigeria', 'Pot': 4,'Avg_age': 25.9 ,  'Market value':121.37 },
    {'Team':'Australia', 'Pot': 4,'Avg_age': 28.2 , 'Market value':45.23 },
    {'Team':'Japan', 'Pot': 4,'Avg_age': 28.6 , 'Market value':66.60 },
    {'Team':'Morocco', 'Pot': 4,'Avg_age': 27.3 ,  'Market value':116.51 },
    {'Team':'Panama', 'Pot': 4,'Avg_age': 28.9 , 'Market value':7.40 },
    {'Team':'Korea', 'Pot': 4,'Avg_age': 27.8 ,  'Market value':78.77 },
    {'Team':'Saudi Arabia', 'Pot': 4,'Avg_age': 28.8 , 'Market value':16.94 }
]

In [72]:
df1 = pd.DataFrame(team_data, columns= ["Team","Pot","Market value", "Avg_age"])

In [73]:
df1

            Team  Pot  Market value  Avg_age
0         Russia    1        145.64     28.9
1        Germany    1        794.70     27.2
2         Brazil    1        882.90     28.6
3       Portugal    1        445.05     28.4
4      Argentina    1        629.10     29.6
5        Belgium    1        678.60     27.6
6         Poland    1        247.10     28.3
7         France    1        972.45     26.1
8          Spain    2        930.60     28.5
9           Peru    2         34.67     27.5
10   Switzerland    2        196.29     27.2
11       England    2        786.60     26.1
12      Columbia    2        225.99     28.4
13        Mexico    2        139.14     29.3
14       Uruguay    2        335.70     28.2
15       Croatia    2        327.60     27.9
16       Denmark    3        233.37     27.2
17       Iceland    3         68.45     28.6
18     Costarica    3         36.14     29.8
19        Sweden    3        107.78     28.3
20       Tunisia    3         52.99     26.6
21         Egypt    3        177.50     29.0
22       Senegal    3        267.57     27.2
23          Iran    3         43.47     27.2
24        Serbia    4        246.11     26.8
25       Nigeria    4        121.37     25.9
26     Australia    4         45.23     28.2
27         Japan    4         66.60     28.6
28       Morocco    4        116.51     27.3
29        Panama    4          7.40     28.9
30         Korea    4         78.77     27.8
31  Saudi Arabia    4         16.94     28.8

In [74]:
df = pd. merge(df,df1, on = 'Team')

In [75]:
df

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,...,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals,Pot,Market value,Avg_age
0,Russia,A,10,0,0,1,65,Saudi Arabia,1,-1.0,...,17,NaN,NaN,Uruguay,33,0.0,0.0,1,145.64,28.9
1,Saudi Arabia,A,4,0,0,0,63,Russia,1,1.0,...,18,1.0,1.0,Egypt,34,-5.0,-5.0,4,16.94,28.8
2,Egypt,A,2,0,0,0,31,Uruguay,2,-1.0,...,17,NaN,NaN,Saudi Arabia,34,5.0,5.0,3,177.50,29.0
3,Uruguay,A,12,2,2,5,21,Egypt,2,1.0,...,18,-1.0,-1.0,Russia,33,0.0,0.0,2,335.70,28.2
4,Portugal,B,6,0,0,2,3,Spain,3,-12.0,...,19,-1.0,-2.0,Iran,35,2.0,5.0,1,445.05,28.4
5,Spain,B,14,1,1,2,6,Portugal,3,12.0,...,20,NaN,NaN,Morocco,36,5.0,7.0,2,930.60,28.5
6,Morocco,B,4,0,0,0,40,Iran,4,-2.0,...,19,1.0,2.0,Spain,36,-5.0,-7.0,4,116.51,27.3
7,Iran,B,4,0,0,0,32,Morocco,4,2.0,...,20,NaN,NaN,Portugal,35,-2.0,-5.0,3,43.47,27.2
8,France,C,14,1,2,5,9,Australia,5,1.0,...,21,-1.0,-1.0,Denmark,37,4.0,9.0,1,972.45,26.1
9,Australia,C,4,0,0,0,39,France,5,-1.0,...,22,-1.0,-3.0,Peru,38,NaN,NaN,4,45.23,28.2
10,Peru,C,4,0,0,0,11,Denmark,6,NaN,...,21,1.0,1.0,Australia,38,NaN,NaN,2,34.67,27.5
11,Denmark,C,4,0,0,0,12,Peru,6,NaN,...,22,1.0,3.0,France,37,-4.0,-9.0,3,233.37,27.2
12,Argentina,D,16,2,5,5,4,Iceland,7,NaN,...,23,1.0,0.0,Nigeria,39,3.0,1.0,1,629.10,29.6
13,Iceland,D,0,0,0,0,22,Argentina,7,NaN,...,24,1.0,3.0,Croatia,40,-3.0,-9.0,3,68.45,28.6
14,Croatia,D,4,0,0,1,17,Nigeria,8,NaN,...,23,-1.0,0.0,Iceland,40,3.0,9.0,2,327.60,27.9
15,Nigeria,D,5,0,0,0,50,Croatia,8,NaN,...,24,-1.0,-3.0,Argentina,39,-3.0,-1.0,4,121.37,25.9
16,Brazil,E,20,5,7,11,2,Switzerland,9,1.0,...,25,8.0,19.0,Serbia,41,1.0,1.0,1,882.90,28.6
17,Switzerland,E,10,0,0,0,8,Brazil,9,-1.0,...,26,NaN,NaN,Costarica,42,0.0,1.0,2,196.29,27.2
18,Costarica,E,4,0,0,0,26,Serbia,10,NaN,...,25,-8.0,-19.0,Switzerland,42,0.0,-1.0,3,36.14,29.8
19,Serbia,E,11,0,0,2,37,Costarica,10,NaN,...,26,NaN,NaN,Brazil,41,-1.0,-1.0,4,246.11,26.8
20,Germany,F,18,4,8,13,1,Mexico,11,4.0,...,27,2.0,10.0,Korea,43,1.0,0.0,1,794.70,27.2
21,Mexico,F,15,0,0,0,16,Germany,11,-4.0,...,28,1.0,12.0,Sweden,44,-2.0,-3.0,2,139.14,29.3
22,Sweden,F,11,0,1,4,18,Korea,12,1.0,...,27,-2.0,-10.0,Mexico,44,2.0,3.0,3,107.78,28.3
23,Korea,F,9,0,0,1,59,Sweden,12,-1.0,...,28,-1.0,-10.0,Germany,43,-1.0,0.0,4,78.77,27.8
24,Belgium,G,12,0,0,1,5,Panama,13,NaN,...,29,0.0,0.0,England,45,-17.0,-70.0,1,678.60,27.6
25,Panama,G,0,0,0,0,56,Belgium,13,NaN,...,30,NaN,NaN,Tunisia,46,NaN,NaN,4,7.40,28.9
26,Tunisia,G,4,0,0,0,27,England,14,-1.0,...,29,0.0,0.0,Panama,46,NaN,NaN,3,52.99,26.6
27,England,G,14,1,1,2,15,Tunisia,14,1.0,...,30,NaN,NaN,Belgium,45,17.0,70.0,2,786.60,26.1
28,Poland,H,7,0,0,2,7,Senegal,15,NaN,...,31,NaN,NaN,Japan,47,2.0,3.0,1,247.10,28.3
29,Senegal,H,1,0,0,0,23,Poland,15,NaN,...,32,2.0,3.0,Columbia,48,0.0,0.0,3,267.57,27.2
30,Columbia,H,5,0,0,0,13,Japan,16,2.0,...,31,NaN,NaN,Senegal,48,0.0,0.0,2,225.99,28.4
31,Japan,H,5,0,0,0,55,Columbia,16,-2.0,...,32,-2.0,-3.0,Poland,47,-2.0,-3.0,4,66.60,28.6

In [76]:
df.describe()

,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,Match index,history with first opponent W-L,history with first opponent goals,Match index.1,history with second opponent W-L,history with second opponent goals,Match index.2,history with third opponent W-L,history with third opponent goals,Pot,Market value,Avg_age
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,20.000000,20.000000,32.000000,22.000000,22.000000,32.000000,28.000000,28.000000,32.000000,32.000000,32.000000
mean,7.906250,0.500000,0.843750,1.781250,24.781250,8.500000,0.000000,0.000000,24.500000,0.000000,0.090909,40.500000,0.000000,0.000000,2.500000,295.572812,27.937500
std,5.426098,1.191367,2.017814,3.128788,19.536128,4.683533,4.279695,11.210897,4.683533,2.742956,7.658852,4.683533,5.354126,19.592138,1.135924,300.236660,1.011467
min,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,-12.000000,-31.000000,17.000000,-8.000000,-19.000000,33.000000,-17.000000,-70.000000,1.000000,7.400000,25.900000
25%,4.000000,0.000000,0.000000,0.000000,8.750000,4.750000,-1.000000,-2.000000,20.750000,-1.000000,-2.750000,36.750000,-2.000000,-3.000000,1.750000,67.987500,27.200000
50%,5.500000,0.000000,0.000000,0.000000,19.500000,8.500000,0.000000,0.000000,24.500000,0.000000,0.000000,40.500000,0.000000,0.000000,2.500000,186.895000,28.200000
75%,12.000000,0.000000,0.250000,2.000000,37.500000,12.250000,1.000000,2.000000,28.250000,1.000000,2.750000,44.250000,2.000000,3.000000,3.250000,363.037500,28.600000
max,20.000000,5.000000,8.000000,13.000000,65.000000,16.000000,12.000000,31.000000,32.000000,8.000000,19.000000,48.000000,17.000000,70.000000,4.000000,972.450000,29.800000

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 22 columns):
Team                                  32 non-null object
Group                                 32 non-null object
Previous appearances                  32 non-null int64
Previous titles                       32 non-null int64
Previous finals                       32 non-null int64
Previous semifinals                   32 non-null int64
Current FIFA rank                     32 non-null int64
First match against                   32 non-null object
Match index                           32 non-null int64
history with first opponent W-L       20 non-null float64
history with first opponent goals     20 non-null float64
Second match against                  32 non-null object
Match index.1                         32 non-null int64
history with second opponent W-L      22 non-null float64
history with second opponent goals    22 non-null float64
Third match against                   32 non-null object
Match index.2                         32 non-null int64
history with third opponent W-L       28 non-null float64
history with third opponent goals     28 non-null float64
Pot                                   32 non-null int64
Market value                          32 non-null float64
Avg_age                               32 non-null float64
dtypes: float64(8), int64(9), object(5)
memory usage: 5.8+ KB

In [105]:
df_team_stat = pd.DataFrame(df, columns= ['Team','Previous appearances','Previous titles','Previous finals','Previous semifinals','Current FIFA rank','Pot','Market value','Avg_age'])

In [106]:
df_team_stat

,Team,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,Pot,Market value,Avg_age
0,Russia,10,0,0,1,65,1,145.64,28.9
1,Saudi Arabia,4,0,0,0,63,4,16.94,28.8
2,Egypt,2,0,0,0,31,3,177.50,29.0
3,Uruguay,12,2,2,5,21,2,335.70,28.2
4,Portugal,6,0,0,2,3,1,445.05,28.4
5,Spain,14,1,1,2,6,2,930.60,28.5
6,Morocco,4,0,0,0,40,4,116.51,27.3
7,Iran,4,0,0,0,32,3,43.47,27.2
8,France,14,1,2,5,9,1,972.45,26.1
9,Australia,4,0,0,0,39,4,45.23,28.2
10,Peru,4,0,0,0,11,2,34.67,27.5
11,Denmark,4,0,0,0,12,3,233.37,27.2
12,Argentina,16,2,5,5,4,1,629.10,29.6
13,Iceland,0,0,0,0,22,3,68.45,28.6
14,Croatia,4,0,0,1,17,2,327.60,27.9
15,Nigeria,5,0,0,0,50,4,121.37,25.9
16,Brazil,20,5,7,11,2,1,882.90,28.6
17,Switzerland,10,0,0,0,8,2,196.29,27.2
18,Costarica,4,0,0,0,26,3,36.14,29.8
19,Serbia,11,0,0,2,37,4,246.11,26.8
20,Germany,18,4,8,13,1,1,794.70,27.2
21,Mexico,15,0,0,0,16,2,139.14,29.3
22,Sweden,11,0,1,4,18,3,107.78,28.3
23,Korea,9,0,0,1,59,4,78.77,27.8
24,Belgium,12,0,0,1,5,1,678.60,27.6
25,Panama,0,0,0,0,56,4,7.40,28.9
26,Tunisia,4,0,0,0,27,3,52.99,26.6
27,England,14,1,1,2,15,2,786.60,26.1
28,Poland,7,0,0,2,7,1,247.10,28.3
29,Senegal,1,0,0,0,23,3,267.57,27.2
30,Columbia,5,0,0,0,13,2,225.99,28.4
31,Japan,5,0,0,0,55,4,66.60,28.6

In [82]:
df_team_stat.corr()

,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,Pot,Market value,Avg_age
Previous appearances,1.000000,0.716073,0.711611,0.753089,-0.456356,-0.604482,0.750520,-0.038719
Previous titles,0.716073,1.000000,0.959440,0.930305,-0.419256,-0.476731,0.674881,0.029447
Previous finals,0.711611,0.959440,1.000000,0.949894,-0.432145,-0.485542,0.646641,0.047219
Previous semifinals,0.753089,0.930305,0.949894,1.000000,-0.450446,-0.530969,0.681792,-0.031981
Current FIFA rank,-0.456356,-0.419256,-0.432145,-0.450446,1.000000,0.721722,-0.629509,0.077645
Pot,-0.604482,-0.476731,-0.485542,-0.530969,0.721722,1.000000,-0.675302,-0.089844
Market value,0.750520,0.674881,0.646641,0.681792,-0.629509,-0.675302,1.000000,-0.203333
Avg_age,-0.038719,0.029447,0.047219,-0.031981,0.077645,-0.089844,-0.203333,1.000000

In [117]:
df_1st_round = pd.DataFrame(df,columns=['Match index','Team','First match against','history with first opponent W-L','history with first opponent goals'])

In [118]:
df_1st_round

,Match index,Team,First match against,history with first opponent W-L,history with first opponent goals
0,1,Russia,Saudi Arabia,-1.0,-2.0
1,1,Saudi Arabia,Russia,1.0,2.0
2,2,Egypt,Uruguay,-1.0,-2.0
3,2,Uruguay,Egypt,1.0,2.0
4,3,Portugal,Spain,-12.0,-31.0
5,3,Spain,Portugal,12.0,31.0
6,4,Morocco,Iran,-2.0,-2.0
7,4,Iran,Morocco,2.0,2.0
8,5,France,Australia,1.0,6.0
9,5,Australia,France,-1.0,-6.0
10,6,Peru,Denmark,NaN,NaN
11,6,Denmark,Peru,NaN,NaN
12,7,Argentina,Iceland,NaN,NaN
13,7,Iceland,Argentina,NaN,NaN
14,8,Croatia,Nigeria,NaN,NaN
15,8,Nigeria,Croatia,NaN,NaN
16,9,Brazil,Switzerland,1.0,2.0
17,9,Switzerland,Brazil,-1.0,-2.0
18,10,Costarica,Serbia,NaN,NaN
19,10,Serbia,Costarica,NaN,NaN
20,11,Germany,Mexico,4.0,13.0
21,11,Mexico,Germany,-4.0,-13.0
22,12,Sweden,Korea,1.0,2.0
23,12,Korea,Sweden,-1.0,-2.0
24,13,Belgium,Panama,NaN,NaN
25,13,Panama,Belgium,NaN,NaN
26,14,Tunisia,England,-1.0,-2.0
27,14,England,Tunisia,1.0,2.0
28,15,Poland,Senegal,NaN,NaN
29,15,Senegal,Poland,NaN,NaN
30,16,Columbia,Japan,2.0,2.0
31,16,Japan,Columbia,-2.0,-2.0

In [119]:
df_1st_round.drop_duplicates(['Match index'],keep = 'first')

,Match index,Team,First match against,history with first opponent W-L,history with first opponent goals
0,1,Russia,Saudi Arabia,-1.0,-2.0
2,2,Egypt,Uruguay,-1.0,-2.0
4,3,Portugal,Spain,-12.0,-31.0
6,4,Morocco,Iran,-2.0,-2.0
8,5,France,Australia,1.0,6.0
10,6,Peru,Denmark,NaN,NaN
12,7,Argentina,Iceland,NaN,NaN
14,8,Croatia,Nigeria,NaN,NaN
16,9,Brazil,Switzerland,1.0,2.0
18,10,Costarica,Serbia,NaN,NaN
20,11,Germany,Mexico,4.0,13.0
22,12,Sweden,Korea,1.0,2.0
24,13,Belgium,Panama,NaN,NaN
26,14,Tunisia,England,-1.0,-2.0
28,15,Poland,Senegal,NaN,NaN
30,16,Columbia,Japan,2.0,2.0